/* your styles go here */

.test {
    background-color: white;
    width: 80px;

}

.addpost {
    font-size: 25px;
    text-align: center;
}

.post_title {
    font-size: 30px;
    text-align: center;
    padding: 30px;
    font-weight: bold;
    color: white;
}

.show_image {
    width: 170px;
}

.description {
    width: 400px;
}